<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
    <meta name="viewport" content="width=device=width, initial-scale=1">
  </head>
  <body>
    <h3>Feliz aniversário <%= @name %></h3>
    <p> 
       Hoje é um dia especial.
    </p>

    <p><%= @email %></p>
  </body>
  </html>